<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Spring Web MVC</display-name>

    <!-- 配置Sping MVC的DispatcherServlet -->
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 表示启动容器时初始化该Servlet -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <!-- url-pattern：表示哪些请求交给Spring Web MVC处理， “/” 是用来定义默认servlet映射的。 -->
        <!-- 也可以如“*.html”表示拦截所有以html为扩展名的请求。 -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- 至此请求已交给Spring Web MVC框架处理，因此我们需要配置Spring的配置文件 -->
    <!-- 默认DispatcherServlet会加载WEB-INF/[DispatcherServlet的Servlet名字,也就是上面的app]-servlet.xml配置文件。 -->
    <!-- 即app-servlet.xml -->
</web-app>